* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(274, 15%, 91%);
}
#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header,
footer {
  background-color: #432700;
}
h1,
h3 {
  font-family: 'Roboto Slab', serif;
}

li {
  list-style: none;
}
header {
  font-family: 'Roboto Slab', serif;
  padding: 0.25em;
  text-align: center;
  margin-bottom: 1em;
  width: 100%;
}
header h1 {
  color: #3b7fbc;
  font-size: 4em;
  font-weight: 300;
}
p,
li {
  font-family: 'Raleway', sans-serif;
}
.img-div {
  background-color: hsl(270, 37%, 97%);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 4px 3px 5px hsl(267, 6%, 39%);
  padding: 1em 1em 2em 1em;
  border-radius: 2px;
}
img {
  max-width: 100%;
}
.img-div img {
  border: 1px solid hsl(0, 0%, 25%);
}
#img-caption {
  margin-top: 0.7em;
  font-size: 1.25em;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}
footer {
  color: #3b7fbc;
  padding: 0.25em;
  text-align: center;
  width: 100%;
}
footer p {
  font-size: 1em;
}
